/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Montez');

@font-face {
	font-family: Alegreya-SC;
	src: url(../fonts/Alegreya_SC/AlegreyaSC-Regular.ttf);
}

@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}



/* GLOBAL STYLES */

* {
	margin: 0;
	padding: 0;
	--color-1: #000000;
	--color-2: #ffffff;
	--color-3: #966b20;
	--color-4: #ab7a1c;
	--color-5: #28292a;
	--color-6: #828282;
	--color-7: #a2344a;
	--color-8: #4f1903;
}



/* BODY */
html, body {
	margin: 0px;
	width: 100%;
	box-sizing: border-box;
}

.prevent-select {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

header {
	box-sizing: border-box;
	text-align: center;
}

#landing-page {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 0 5%;
	background-color: var(--color-1);
}

#preface {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 5%;
	left: 12.5%;
	width: 75%;
	height: 90%;
}

#logo {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	width: 80%;
	height: 100%;
	z-index: 25;
}

h1 {
	margin: 0;
	font-family: 'Montez', cursive;
	font-size: 40px;
	line-height: 1.2;
}

h1#title {
	vertical-align: middle;
	font-size: 10vh;
	color: var(--color-3);
	line-height: 1.15;
}

h2, h3, h4 {
	padding: 0.5em 0;
	font-family: 'Alegreya-SC', sans-serif;
	line-height: 1.2;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 24px;
}

nav {
	padding: 35px;
	background: var(--color-1);
}

a {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #ab7a1c;
	text-decoration: none;
}

nav a:hover {
	color: var(--color-2);
}

a:hover {
	font-weight: bold;
	text-decoration: underline;
}

nav ul li {
	display: inline-block;
	margin: 2.5%;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}

#intro {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	position: relative;
	padding: 25%;
	width: 100%;
	height: 100vh;
	background: url('../images/book%20path%20laura%20kapfer.jpeg') no-repeat fixed center center;
	background-size: cover;
	opacity: 0.8;
}

#tagline {
	box-sizing: border-box;
	width: auto;
	padding: 2% 5%;
	background: rgba(255, 255, 255, 0.75);
	font-size: 5vh;
	text-align: center;
}

h3 {
	font-family: 'Alegreya-SC', sans-serif;
	font-size: 30px;
}

p {
	padding: 2.5% 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

.pages-header {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	background: var(--color-1);
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
	z-index: 20;
}

.header-wrapper {
	box-sizing: border-box;
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	margin: 0;
	padding: 0 0 0 5%;
	vertical-align: top;
}

.nav-logo-link {
	display: flex;
	align-items: center;
}

.nav-logo {
	box-sizing: border-box;
	width: 55%;
	min-height: 100px;
}

.pages-nav {
	box-sizing: border-box;
	display: none;
}

.vertical-menu {
	width: 50px;
	position: relative;
	top: 25%;
}

.nav-menu {
	display: none;
	position: absolute;
	top: 100%;
	right: 0px;
	padding: 0;
	box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.3);
	z-index: 20;
}

.nav-menu ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 75px;
	margin: 0;
	padding: 5px 40px;
}

.nav-menu ul li a {
	color: var(--color-2);
	text-decoration: none;
}

.nav-menu ul li:hover {
	background-color: var(--color-4);
	font-weight: bold;
}

.dropdown:hover .nav-menu {
	display: block;
}

.container {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	padding: 15% 10% 10%;
}

.container h2 {
	margin-bottom: 20px;
}

.container p {
	margin: 0 30px 50px;
}

.center {
	text-align: center;
}



/* FOOTER */

footer {
	box-sizing: border-box;
	padding: 5% 10% 10%;
	background: var(--color-1);
	color: var(--color-6);
	text-align: center;
}

footer p {
	font-size: 12px;
}



/* ABOUT PAGE */
#about {
	margin: 0;
	padding: 5%;
}

#profile-photo {
	width: 50%;
	margin: 2.5% 25%;
	border-radius: 50%;
	text-align: center;
}



/* MUSIC PAGE */
.display-item {
	display: flex;
	justify-content: center;
	align-items: center;
}

div#longing-m {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 100vh;
	background: url('../images/ocean%20sunset%20sebastien%20gabriel.jpeg') no-repeat center center;
	background-size: cover;
	color: var(--color-2);
	text-align: center;
	vertical-align: middle;
}

div#longing-m h2 {
	padding: 5%;
	background: rgba(0, 0, 0, 0.2);
}

div#tet-jqy-m {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	padding: 1% 0;
	background-color: var(--color-5);
}

div#tet-jqy-m #bg-border-top {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	height: 40vh;
	background: url('../images/border.svg') no-repeat 5vmin 5vmin;
	z-index: 0;
}

div#tet-jqy-m h2 {
	box-sizing: border-box;
	position: relative;
	padding: 7.5% 20%;
	background: url('../images/bamboo.svg') no-repeat center;
	font-family: 'Alegreya-SC', serif;
	font-size: 5vh;
	color: var(--color-2);
	letter-spacing: 5px;
	text-align: center;
	z-index: 10;
}

div#tet-jqy-m #bg-border-bottom {
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 90%;
	height: 40vh;
	background: url('../images/border.svg') no-repeat 5vmin 5vmin;
	transform: rotate(180deg);
	z-index: 0;
}

div#lof-m {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	margin: 0 auto;
	padding: 10% 0;
	text-align: center;
	background: url('../images/lihu%20boulevard%20jiangsu%20kuaileqie.jpg') no-repeat center center;
	background-size: cover;
}

div#lof-m h2,
div#lof-m h3 {
	margin: 0 auto;
	color: var(--color-2);
	background: rgba(0, 0, 0, 0.2);
}

div#lof-m h2 {
	padding: 5% 5% 2.5% 5%;
}

div#lof-m h3 {
	padding: 2.5% 5% 5% 5%;
}



/* MUSIC PLAYER */
.mobile-height {
	min-height: 100vh;
}

.song-and-player {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	padding-top: 5vh;
}

button {
	display: flex;
	padding: 0;
	border: 0;
	background: transparent;
	cursor: pointer;
}

/* time slider */
.song-time {
	width: 75vw;
	height: 1.25vh;
	background: var(--color-8);
}

.song-progress {
	width: 0%;
	height: 100%;
	background: var(--color-7);
	transition: .125s;
}

.audio-player-container {
	box-sizing: border-box;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 15% 30% 15% 40%;
	justify-content: space-between;
	align-items: center;
	width: 75vw;
	height: 20vmin;
	padding: 5%;
	background-image: linear-gradient(#e2af50 0%, var(--color-4) 40%, var(--color-3) 85%);
}

/* audio controls */

.audio-icon, .volume-button {
	margin-right: 5%;
}

.not-safari-audio-icons {
	height: 60%;
}

.timeline {
	position: relative;
	width: 100%;
	color: var(--color-2);
	text-align: center;
	font-size: min(2vw, 1em, 2vh);
	cursor: pointer;
}

/* song duration displays */

.current, .divider, .length {
	font-family: "Montserrat", sans-serif;
}

.divider {
	width: fit-content;
}

/* volume controls */
.volume-container {
	display: flex;
	flex-flow: row nowrap;
}

.volume-icon {
	align-items: center;
}

.volume-slider {
	width: 100%;
	height: .5em;
	background: var(--color-8);
	cursor: grabbing;
}

.volume-set {
	width: 50%;
	height: 100%;
	background: var(--color-7);
	cursor: grabbing;
}


/* MUSIC PLAYER PAGES */
.song-cover {
	box-sizing: border-box;
	position: relative;
	width: 75vw;
	height: 75vw;
	margin: 0 5%;
	font-family: 'Alegreya-SC', serif;
	font-size: 48px;
	letter-spacing: 5px;
	text-align: center;
	z-index: 10;
}

.song-cover#jqy {
	background-color: var(--color-5);
}

#jqy {
	background: url('../images/bamboo.svg') no-repeat center;
	color: var(--color-2);
}

#lof {
	padding: 7.5%;
	background: url('../images/lihu%20boulevard%20jiangsu%20kuaileqie.jpg') no-repeat center;
	background-size: cover;
	color: var(--color-2);
}

#longing {
	padding: 7.5%;
	background: url('../images/ocean\ sunset\ sebastien\ gabriel.jpeg') no-repeat center;
	background-size: cover;
}

.time {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
}



/* CONTACT PAGE */





/* QUERIES */
/* MEDIA QUERIES */
/* tablet */
@media (min-width: 768px) and (max-width: 1199px) {
	#logo {
		width: 50%;
	}

	#intro {
		background-size: contain;
		padding: 10%;
	}

	#tagline {
		width: 50%;
	}

	.pages-header {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
	}

	.header-wrapper {
		display: flex;
		flex-flow: row nowrap;
	}

	.nav-logo {
		width: 100%;
		height: 10vh;
		padding: 10px 0;
	}

	.pages-nav {
		display: none;
	}

	.nav-links {
		min-width: 200px;
	}

	.song-cover {
		width: 50vh;
		height: 50vh;
		margin: 0 25%;
	}

	.song-time {
		width: 50vh;
	}

	.audio-player-container {
		width: 50vh;
		height: auto;
		margin: 0 25%;
		padding: 2.5%;
	}
}

/* desktop */
@media (min-width: 1200px) {
	#logo {
		width: 33%
	}

	nav ul li {
		font-size: 20px;
	}

	#intro {
		background-size: 50%;
	}

	#tagline {
		width: 50%;
	}

	.pages-header {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		padding: 35px;
	}

	.header-wrapper {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		padding: 0;
	}

	.container {
		width: auto;
		padding: 10% 20%;
	}

	.nav-logo {
		width: 100%;
		height: 15vh;
		padding-top: 0;
	}

	nav {
		margin: initial;
	}

	.pages-nav {
		display: flex;
	}

	.nav-links {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		min-width: 350px;
	}

	.vertical-menu {
		display: none;
	}

	#about {
		padding: 10% 25%;
	}

	.display-item h2 {
		font-size: 7.5vh;
	}

	div#longing h2 {
		padding: 2.5%;
	}

	div#tet h2 {
		padding: 7.5% 0;
		font-size: 7.5vh;
	}

	.song-cover {
		width: 50vh;
		height: 50vh;
		margin: 0 25%;
	}

	.song-time {
		width: 50vh;
	}

	.audio-player-container {
		width: 50vh;
		height: fit-content;
		margin: 0 25%;
		padding: 1%;
	}
}


