/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Montez');

@font-face {
	font-family: Alegreya-SC;
	src: url(../fonts/Alegreya_SC/AlegreyaSC-Regular.ttf);
}

@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}



/* GLOBAL STYLES */

* {
	margin: 0;
	padding: 0;
}



/* BODY */
html, body {
	margin: 0px;
	width: 100%;
	box-sizing: border-box;
}

.prevent-select {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

header {
	box-sizing: border-box;
	text-align: center;
}

#landing-page {
	box-sizing: border-box;
	position: relative;
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: #000000;
}

.name {
	/*overflow: auto;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

/*#preface {
	position: absolute;
	top: 30%;
	left: 36.5%;
}*/

#logo {
	width: 28%;
	max-height: 75%;
	vertical-align: middle;
}

h1 {
	margin: 0;
	font-family: 'Montez', cursive;
	font-size: 40px;
	line-height: 1.2;
}

h1#title {
	vertical-align: middle;
	padding: 0 0 0 15%;
	font-size: 10vh;
	color: #966b20;
	line-height: 1.15;
}

h2, h3, h4 {
	padding: 0.5em 0;
	font-family: 'Alegreya-SC', sans-serif;
	line-height: 1.2;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 24px;
}

nav {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 35px;
	background: #000000;
	vertical-align: middle;
}

a {
	color: #ab7a1c;
	text-decoration: none;
}

nav a:hover {
	color: #ffffff;
}

a:hover {
	font-weight: bold;
	text-decoration: underline;
}

nav ul li {
	display: inline-block;
	margin: 2.5%;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
}

#intro {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	position: relative;
	padding: 25%;
	width: 100%;
	height: 100vh;
	background: url('../images/book%20path%20laura%20kapfer.jpeg') no-repeat fixed center center;
	background-size: 50%;
	opacity: 0.8;
}

#tagline {
	box-sizing: border-box;
	width: 50%;
	padding: 2%;
	background: #ffffff;
	text-align: center;
}

h3 {
	font-family: 'Alegreya-SC', sans-serif;
	font-size: 30px;
}

p {
	padding: 2.5% 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

.pages-header {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	margin: 0;
	padding: 35px;
	background: #000000;
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
	z-index: 20;
}

.nav-logo-link {
	margin-top: 20px;
	vertical-align: middle;
}

.nav-logo {
	box-sizing: border-box;
	width: 10%;
	height: 10vh;
	padding-top: 4.25px;
}

.pages-nav {
	display: inline-block;
	box-sizing: border-box;
}

.container {
	box-sizing: border-box;
	padding: 10% 20%;
}

.container h2 {
	margin-bottom: 20px;
}

.container p {
	margin: 0 30px 50px;
}

.center {
	text-align: center;
}



/* FOOTER */

footer {
	box-sizing: border-box;
	padding: 5% 10% 10%;
	background: #000000;
	color: #828282;
	text-align: center;
}

footer p {
	font-size: 12px;
}



/* ABOUT PAGE */
#about {
	margin: 0;
	padding: 10% 25%;
}

#profile-photo {
	width: 50%;
	margin: 2.5% 25%;
	border-radius: 50%;
	text-align: center;
}



/* MUSIC PAGE */

div#longing {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 100vh;
	background: url('../images/ocean%20sunset%20sebastien%20gabriel.jpeg') no-repeat center center;
	background-size: 100%;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
}

div#longing h2 {
	box-sizing: border-box;
	position: relative;
	top: 35%;
	padding: 10%;
	vertical-align: middle;
}

div#tet {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	padding: 1% 0;
	border-bottom: 1px solid #ffffff;
	background-color: #28292a;
}

div#tet #bg-border-top {
	box-sizing: border-box;
	position: absolute;
	width: 90%;
	height: 90vh;
	background: url('../images/border.svg') no-repeat 5vmin 5vmin;
	z-index: 0;
}

div#tet h2 {
	box-sizing: border-box;
	position: relative;
	margin: 20% 15%;
	padding: 20% 0;
	background: url('../images/bamboo.svg') no-repeat center;
	font-family: 'Alegreya-SC', serif;
	font-size: 48px;
	color: #ffffff;
	letter-spacing: 5px;
	text-align: center;
	z-index: 10;
}

div#lof {
	box-sizing: border-box;
	position: relative;
	margin: 0 auto;
	padding: 10% 0;
	text-align: center;
}

div#lof h2,
div#lof h3 {
	margin: 0 auto;
	padding: 35px;
	color: #000000;
}



/* MUSIC PLAYER */
button {
	padding: 0;
	border: 0;
	background: transparent;
	cursor: pointer;
}

.audio-player-container {
	box-sizing: border-box;
	width: 50%;
	margin: 0 25%;
	padding: 1%;
	background: #ab7a1c;
}

.song_cover#jqy {
	background-color: #28292a;
}

#jqy {
	width: 50%;
	box-sizing: border-box;
	position: relative;
	margin: 0 25%;
	padding: 20%;
	background: url('../images/bamboo.svg') no-repeat center;
	font-family: 'Alegreya-SC', serif;
	font-size: 48px;
	color: #ffffff;
	letter-spacing: 5px;
	text-align: center;
	z-index: 10;
}

.audio-icon {
	width: 50px;
	height: 50px;
}



/* CONTACT PAGE */





/* MEDIA QUERIES */
/* smartphone */
@media (max-width: 767px) {
	#preface {
		width: 50%;
	}

	#logo {
		width: 33%;
	}

	h1#title {
		padding: 20% 0 30% 25%;
		font-size: 2.3em;
	}

	nav ul li {
		font-size: 16px;
	}

	#intro {
		background-size: cover;
	}

	#tagline {
		width: auto;
	}

	.container {
		width: 100%;
		box-sizing: border-box;
		padding: 5%;
	}

	#about {
		padding: 5%;
	}
}

/* tablet */
@media (min-width: 768px) and (max-width: 1199px) {
	#preface {
		width: 50%;
	}

	#logo {
		width: 33%;
	}

	h1#title {
		padding: 20% 0 30% 25%;
		font-size: 7.5vh;
	}


	#intro {
		background-size: contain;
		padding: 10%;
	}
}


