/* GLOBAL STYLES */

* {
	margin: 0;
	padding: 0;
}



/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Montez');

@font-face {
	font-family: Alegreya-SC;
	src: url(../fonts/Alegreya_SC/AlegreyaSC-Regular.ttf);
}

@font-face {
	font-family: Source-Sans-Pro;
	src: url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

@font-face {
	font-family: Source-Sans-Pro;
	src: url(../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
	font-weight: bold;
}



/* BODY */

body {
	margin: 0px;
}

header {
	box-sizing: border-box;
	text-align: center;
}

#landing-page {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: #28292a;
}

.name {
	overflow: auto;
}

#preface {
	position: absolute;
	top: 30%;
	left: 36.5%;
}

#logo {
	width: 28%;
	vertical-align: middle;
}

h1 {
	margin: 0;
	font-family: 'Montez', cursive;
	font-size: 40px;
	line-height: 1.3;
}

h1#title {
	display: inline-block;
	vertical-align: middle;
	padding: 0 0 0 50px;
	font-size: 80px;
	color: #966b20;
}

h2 {
	font-family: 'Alegreya-SC', sans-serif;
	font-size: 48px;
	line-height: 1.2;
}

nav {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 35px;
	background: #000000;
	vertical-align: middle;
}

a {
	color: #966b20;
	text-decoration: none;
}

nav a:hover {
	color: #ffffff;
}

a:hover {
	font-weight: bold;
	text-decoration: underline;
}

nav ul li {
	display: inline-block;
	margin: 5vh 5vw;
	list-style: none;
	font-family: 'Source-Sans-Pro', sans-serif;
	font-size: 20px;
}

#intro {
	box-sizing: border-box;
	position: relative;
	padding: 25vmin;
	width: 100%;
	height: 100vh;
}

h3 {
	font-family: 'Alegreya-SC', sans-serif;
	font-size: 30px;
}

p {
	font-family: 'Source-Sans-Pro', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

.pages-header {
	box-sizing: border-box;
	width: 100%;
	padding: 35px;
	background: #000000;
}

.nav-logo-link {
	margin-top: 20px;
	vertical-align: middle;
}

.nav-logo {
	box-sizing: border-box;
	width: 10%;
	height: 10vh;
	padding-top: 4.25px;
}

.pages-nav {
	display: inline-block;
	box-sizing: border-box;
}


.container {
	box-sizing: border-box;
	padding: 10vmin 20vmin;
}

.container h2 {
	margin-bottom: 20px;
}

.container p {
	margin: 0 30px 50px;
}

hr {
	padding: 0 25vw;
	width: 50vw;
	border-color: #28292a;
}


/* FOOTER */

footer {
	box-sizing: border-box;
	padding: 5vh 10vw 10vh;
	background: #000000;
	color: #ffffff;
	text-align: center;
}

footer p {
	font-size: 14px;
}



/* ABOUT PAGE */

#profile-photo {
	width: 40%;
	height: 40%;
	padding-bottom: 50px;
}



/* MUSIC PAGE */

div#longing {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 100vh;
	background: url('../images/summer%20before%20college.jpg') no-repeat center;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
}

div#longing h2 {
	box-sizing: border-box;
	position: relative;
	top: 35vh;
	padding: 10vh;
	vertical-align: middle;
}

div#tet {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	padding: 1vmin 0;
	border-bottom: 1px solid #ffffff;
	background-color: #000000;
}

div#tet #bg-border-top {
	box-sizing: border-box;
	position: absolute;
	width: 90%;
	height: 90%;
	background: url('../images/border.svg') no-repeat 5vmin 5vmin;
	z-index: 0;
}

div#tet h2 {
	box-sizing: border-box;
	position: relative;
	margin: 20vh 15vmin;
	padding: 20vh 0;
	background: url('../images/bamboo.svg') no-repeat center;
	font-family: 'Alegreya-SC', serif;
	font-size: 48px;
	color: #ffffff;
	letter-spacing: 5px;
	text-align: center;
	z-index: 10;
}

div#lof {
	box-sizing: border-box;
	position: relative;
	margin: 0 auto;
	padding: 10vmin 0;
	text-align: center;
}

div#lof h2,
div#lof h3 {
	margin: 0 auto;
	padding: 35px;
	color: #000000;
}



/* CONTACT PAGE */







